# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
*.egg
*.so

# Virtual environment
venv/
*.venv
env/
.Python

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Environment variables
.env
